{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "FEPAY",
    "contact": {
      "email": "by09115@outlook.kr"
    },
    "x-logo": {
      "url": "https://scontent-gmp1-1.xx.fbcdn.net/v/t1.15752-9/73245956_1259559617557145_1696652935372472320_n.png?_nc_cat=105&_nc_ohc=5X7sQxaujgYAQmklU446v3MBQG6uFz7TzSYIwJh9vxvoGymdYx--_0GdQ&_nc_ht=scontent-gmp1-1.xx&oh=31ae817735c9b3c86319936dfbefe269&oe=5E54CABE"
    },
    "description": "FEPAY의 API Document입니다.\n"
  },
  "tags": [
    {
      "name": "Admin",
      "description": "어드민 관련"
    },
    {
      "name": "User",
      "description": "사용자 관련"
    },
    {
      "name": "Festival",
      "description": "축제 관련"
    },
    {
      "name": "Payment",
      "description": "결제 관련"
    }
  ],
  "servers": [
    {
      "url": "http://fepay.jaehoon.kim/api/v1"
    }
  ],
  "paths": {
    "/user/signup": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "사용자 회원가입",
        "description": "# 사용자 계정을 생성합니다.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "password",
                  "name",
                  "phone"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "jinusong02"
                  },
                  "password": {
                    "type": "string",
                    "example": "p@ssword"
                  },
                  "name": {
                    "type": "string",
                    "example": "김재훈"
                  },
                  "phone": {
                    "type": "string",
                    "example": "010-2432-3407"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "회원가입 성공"
          },
          "400": {
            "description": "잘못된 정보"
          },
          "409": {
            "description": "해당 ID를 가진 사용자가 이미 존재함(Conflict)"
          }
        }
      }
    },
    "/user/auth": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "사용자 로그인",
        "description": "# 사용자의 access 토큰을 발급합니다.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "password"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "jinusong02"
                  },
                  "password": {
                    "type": "string",
                    "example": "p@ssword"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Login succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access": {
                      "type": "string",
                      "example": "Th12312isis.Tr123123uly.Accessto123123ken"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "[Admin Only] 사용자 단일 정보 조회",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "jinusong20"
            }
          }
        ],
        "security": [
          {
            "JSONWebTokenAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "user_id": {
                        "type": "string",
                        "example": "165j2214-051z-3176-b586-138o3d420071"
                      },
                      "name": {
                        "type": "string",
                        "example": "김재훈"
                      },
                      "phone": {
                        "type": "string",
                        "example": "010-2432-3407"
                      },
                      "balance": {
                        "type": "string",
                        "example": "15000"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "[Admin Only] 계정 삭제",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "jinusong02"
            }
          }
        ],
        "security": [
          {
            "JSONWebTokenAuthentication": []
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공"
          },
          "404": {
            "description": "사용자를 찾을 수 없음"
          }
        }
      }
    },
    "/user/balance": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "[Admin Only] 사용자 잔고 수정",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "jinusong02"
            }
          }
        ],
        "security": [
          {
            "JSONWebTokenAuthentication": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "balance": {
                    "type": "string",
                    "example": "17000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "잔고 수정 성공"
          },
          "401": {
            "description": "권한 없음"
          },
          "404": {
            "description": "해당 id를 가진 사용자를 찾을 수 없음"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "[Admin Only] 사용자 전체 목록 조회",
        "security": [
          {
            "JSONWebTokenAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "jinusong02"
                      },
                      "name": {
                        "type": "string",
                        "example": "김재훈"
                      },
                      "phone": {
                        "type": "string",
                        "example": "010-2432-3407"
                      },
                      "balance": {
                        "type": "string",
                        "example": "15000"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "사용자 정보 조회(잔고 포함)",
        "description": "# 사용자 정보를 조회합니다.\n",
        "security": [
          {
            "JSONWebTokenAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/signup": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "관리자 회원가입",
        "description": "# 관리자 계정을 생성합니다.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "name",
                  "phone",
                  "festival_name",
                  "closing_date"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "by09115@outlook.kr"
                  },
                  "password": {
                    "type": "string",
                    "example": "p@ssword"
                  },
                  "name": {
                    "type": "string",
                    "example": "김재훈"
                  },
                  "phone": {
                    "type": "string",
                    "example": "010-2432-3407"
                  },
                  "festival_name": {
                    "type": "string",
                    "example": "제 4회 대덕소프트웨어마이스터고등학교 청죽제"
                  },
                  "closing_date": {
                    "type": "string",
                    "example": "2019-11-21"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "회원가입 성공"
          },
          "400": {
            "description": "잘못된 정보"
          },
          "409": {
            "description": "해당 ID를 가진 관리자가 이미 존재함(Conflict)"
          }
        }
      }
    },
    "/admin/auth": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "관리자 로그인",
        "description": "# 관리자의 access token을 발급합니다.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "by09115@outlook.kr"
                  },
                  "password": {
                    "type": "string",
                    "example": "p@ssword"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Login succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access": {
                      "type": "string",
                      "example": "Th12312isis.Tr123123uly.Accessto123123ken"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/festivals": {
      "get": {
        "tags": [
          "Festival"
        ],
        "summary": "축제 목록",
        "description": "# 축제 고유 번호가 담긴 목록을 반환합니다.\n",
        "responses": {
          "200": {
            "description": "반환 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "816740"
                      },
                      "name": {
                        "type": "string",
                        "example": "청죽제"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/me": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "관리자 정보 조회",
        "description": "# 관리자 정보를 조회합니다.\n",
        "security": [
          {
            "JSONWebTokenAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "by09115@outlook.kr"
                    },
                    "name": {
                      "type": "string",
                      "example": "김재훈"
                    },
                    "phone": {
                      "type": "string",
                      "example": "010-2432-3407"
                    },
                    "festivalName": {
                      "type": "string",
                      "example": "청죽제"
                    },
                    "closingDate": {
                      "type": "string",
                      "example": "2019-09-11"
                    },
                    "festivalId": {
                      "type": "string",
                      "example": "816740"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "[Admin Only] 결제 내역 조회",
        "security": [
          {
            "JSONWebTokenAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "반환 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "5dd6e523c5b4421770930c72"
                      },
                      "festivalId": {
                        "type": "string",
                        "example": "816740"
                      },
                      "sender": {
                        "type": "string",
                        "example": "jinu40"
                      },
                      "recipient": {
                        "type": "string",
                        "example": "jinu03"
                      },
                      "amount": {
                        "type": "integer",
                        "example": 19283
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2019-11-22T04:27:31.887"
                      },
                      "matchedAt": {
                        "type": "string",
                        "example": "2019-11-22T04:36:08.616"
                      },
                      "closed": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pay": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "결제 요청",
        "description": "# 결제 요청\n받으려는 돈의 액수를 입력하면, 결제 대기 모드로 전환합니다.\n",
        "security": [
          {
            "JSONWebTokenAuthentication": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "example": 19283
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "결제 요청 성공, 입금자를 기다리는 중...",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "5dd6e523c5b4421770930c72"
                    },
                    "festivalId": {
                      "type": "string",
                      "example": "816740"
                    },
                    "sender": {
                      "type": "string",
                      "example": "jinu40"
                    },
                    "recipient": {
                      "type": "string",
                      "example": "jinu03"
                    },
                    "amount": {
                      "type": "integer",
                      "example": 19283
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "2019-11-22T04:27:31.887"
                    },
                    "matchedAt": {
                      "type": "string",
                      "example": "2019-11-22T04:36:08.616"
                    },
                    "closed": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Payment"
        ],
        "summary": "결제 수락",
        "description": "# 결제 수락\n입금자가 접촉을 통해 이벤트를 발생시켜 입급을 시도합니다.\n",
        "security": [
          {
            "JSONWebTokenAuthentication": []
          }
        ],
        "parameters": [
          {
            "name": "recipient_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "jinusong02"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "결제 성공.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "jinu"
                    },
                    "name": {
                      "type": "string",
                      "example": "김재훈"
                    },
                    "phone": {
                      "type": "string",
                      "example": "010-2432-3407"
                    },
                    "balance": {
                      "type": "integer",
                      "example": 30000
                    },
                    "festivalId": {
                      "type": "string",
                      "example": "816740"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "JSONWebTokenAuthentication": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}
