openapi: 3.0.0
info:
  version: 1.0.0
  title: FEPAY
  contact:
    email: by09115@outlook.kr
  x-logo:
    url: 'https://scontent-gmp1-1.xx.fbcdn.net/v/t1.15752-9/73245956_1259559617557145_1696652935372472320_n.png?_nc_cat=105&_nc_ohc=5X7sQxaujgYAQmklU446v3MBQG6uFz7TzSYIwJh9vxvoGymdYx--_0GdQ&_nc_ht=scontent-gmp1-1.xx&oh=31ae817735c9b3c86319936dfbefe269&oe=5E54CABE'
  description: |
    FEPAY의 API Document입니다.
tags:
  - name: Admin
    description: 어드민 관련
  - name: User
    description: 사용자 관련
  - name: Payment
    description: 결제 관련
servers:
  - url: 'http://fepay.jaehoon.kim/api/v1'
paths:
  /user/signup:
    post:
      tags:
        - User
      summary: 사용자 회원가입
      description: |
        # 사용자 계정을 생성합니다.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceId
                - password
                - name
                - phone
              properties:
                deviceId:
                  type: string
                  example: 165j2214-051z-3176-b586-138o3d420071
                password:
                  type: string
                  example: p@ssword
                name:
                  type: string
                  example: 김재훈
                phone:
                  type: string
                  example: 010-2432-3407
      responses:
        '201':
          description: 회원가입 성공
        '400':
          description: 잘못된 정보
        '409':
          description: 해당 ID를 가진 사용자가 이미 존재함(Conflict)
  /admin/signup:
    post:
      tags:
        - Admin
      summary: 관리자 회원가입
      description: |
        # 관리자 계정을 생성합니다.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
                - phone
                - closing_date
              properties:
                email:
                  type: string
                  example: by09115@outlook.kr
                password:
                  type: string
                  example: p@ssword
                name:
                  type: string
                  example: 김재훈
                phone:
                  type: string
                  example: 010-2432-3407
                closing_date:
                  type: string
                  example: '2019-11-21'
      responses:
        '201':
          description: 회원가입 성공
        '400':
          description: 잘못된 정보
        '409':
          description: 해당 ID를 가진 관리자가 이미 존재함(Conflict)
components:
  schemas:
    Email:
      description: User email address
      type: string
      format: test
      example: john.smith@example.com
    User:
      type: object
      properties:
        username:
          description: User supplied username
          type: string
          minLength: 4
          example: John78
        firstName:
          description: User first name
          type: string
          minLength: 1
          example: John
        lastName:
          description: User last name
          type: string
          minLength: 1
          example: Smith
        email:
          $ref: '#/components/schemas/Email'
  headers:
    ExpiresAfter:
      description: date in UTC when token expires
      schema:
        type: string
        format: date-time
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
