openapi: 3.0.0
info:
  version: '1.0.0'
  title: FEPAY

  contact:
    email: by09115@outlook.kr

  x-logo:
    url: 'https://scontent-gmp1-1.xx.fbcdn.net/v/t1.15752-9/73245956_1259559617557145_1696652935372472320_n.png?_nc_cat=105&_nc_ohc=5X7sQxaujgYAQmklU446v3MBQG6uFz7TzSYIwJh9vxvoGymdYx--_0GdQ&_nc_ht=scontent-gmp1-1.xx&oh=31ae817735c9b3c86319936dfbefe269&oe=5E54CABE'

  description: |
    FEPAY의 API Document입니다.

tags:
  - name: Admin
    description: 어드민 관련
  - name: User
    description: 사용자 관련
  - name: Payment
    description: 결제 관련
servers:
  - url: 'http://fepay.jaehoon.kim/api/v1'

paths:
  '/user/signup':
    post:
      tags:
        - User
      summary: 사용자 회원가입
      description: |
        # 사용자 계정을 생성합니다.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - password
                - name
                - phone
              properties:
                user_id:
                  type: string
                  example: "jinusong02"
                password:
                  type: string
                  example: "p@ssword"
                name:
                  type: string
                  example: "김재훈"
                phone:
                  type: string
                  example: "010-2432-3407"
      responses:
        201:
          description: 회원가입 성공
        400:
          description: 잘못된 정보
        409:
          description: 해당 ID를 가진 사용자가 이미 존재함(Conflict)
  '/user/auth':
    post:
      tags:
        - User
      summary: 사용자 로그인
      description: |
        # 사용자의 access 토큰을 발급합니다.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - password
              properties:
                user_id:
                  type: string
                  example: "jinusong02"
                password:
                  type: string
                  example: "p@ssword"
      responses:
        201:
          description: Login succeed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    example: "Th12312isis.Tr123123uly.Accessto123123ken"
        403:
          description: Invalid credentials
  '/user':
    get:
      tags:
        - User
      summary: "[Admin Only] 사용자 단일 정보 조회"
      responses:
        200:
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: string
                      example: "165j2214-051z-3176-b586-138o3d420071"
                    name:
                      type: string
                      example: "김재훈"
                    phone:
                      type: string
                      example: "010-2432-3407"

  '/users':
    get:
      tags:
        - User
      summary: "[Admin Only] 사용자 전체 목록 조회"
      responses:
        200:
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: string
                      example: "jinusong02"
                    name:
                      type: string
                      example: "김재훈"
                    phone:
                      type: string
                      example: "010-2432-3407"
                    balance:
                      type: string
                      example: "15000"

  '/admin/signup':
    post:
      tags:
        - Admin
      summary: 관리자 회원가입
      description: |
        # 관리자 계정을 생성합니다.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
                - phone
                - festival_name
                - closing_date
              properties:
                email:
                  type: string
                  example: "by09115@outlook.kr"
                password:
                  type: string
                  example: "p@ssword"
                name:
                  type: string
                  example: "김재훈"
                phone:
                  type: string
                  example: "010-2432-3407"
                festival_name:
                  type: string
                  example: "제 4회 대덕소프트웨어마이스터고등학교 청죽제"
                closing_date:
                  type: string
                  example: "2019-11-21"
      responses:
        201:
          description: 회원가입 성공
        400:
          description: 잘못된 정보
        409:
          description: 해당 ID를 가진 관리자가 이미 존재함(Conflict)
  '/admin/auth':
    post:
      tags:
        - Admin
      summary: 관리자 로그인
      description: |
        # 관리자의 access token을 발급합니다.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  example: "by09115@outlook.kr"
                password:
                  type: string
                  example: "p@ssword"
      responses:
        201:
          description: Login succeed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    example: "Th12312isis.Tr123123uly.Accessto123123ken"
        403:
          description: Invalid credentials

components:
  securitySchemes:
    JSONWebTokenAuthentication:
      type: apiKey
      in: header
      name: Authorization
